<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Ejemplo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hola, Bryan Escalante -- 1621817</h1>
        <h1>Unviersidad Rafael Landivar</h1>
        <h1>Ingenieria Informatica y sistemas</h1>
        <h1>SISTEMAS OPERATIVOS</h1>
    </div>
</body>
</html>
